vbody,
html,
h1 {
  margin: 0;
  padding: 0;
}
h1 {
  color: white;
  font-size: 4rem;
  text-align: center;
}
section {
  height: 100vh;
}
.tag {
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.yellow {
  background-color:yellow;
}
.red {
  background-color: coral;
}
.blue {
  background-color: blue;
}
.green {
  background-color:green;
}
